*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

header {
    height: 70px;
    width: 100%;
}

nav{
    width: 100vw;
}

.small_logo{
    width: 50px;
}

.big_logo{
    display: none;
}

.searchbar_wrapper{
    background-color: #e5e5e5;
    border-radius: 10px;
    width: 90%;
}

.my_searchbar{
    border: none;
    background-color: #e5e5e5;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.fa-magnifying-glass{
    padding: 10px;
}

.bell_icon{
    width: 20px;
    color: #ff8f00;
} 

@media screen and (min-width: 992px){
    .lateral_navbar{
        width: 150px;
    }

    .main_container{
        width: calc(100% - 150px);
    }

    .small_logo{
        display: none;
    }

    .big_logo{
        display: block;
    }
    
    .searchbar_wrapper{
        width: calc(100vw - 350px);
    }

    .offcanvas{
        width:40% !important;
    }
}

/* MAIN */

main{
    height: calc(100vh - 70px);
}

.lateral_navbar{
    height: calc(100vh - 70px);
    background: url(../img/sidebar-bg.png);
}

.main_container{
    width: 100%;
}

.main_header{
    width: 100%;
}


.card_wrapper{
    width: 100%;
    height: calc(100vh - 70px);
}

table.first_table th:nth-child(1),
table.first_table td:nth-child(1){
    width: auto;
}

table.first_table th:not(:nth-child(1)),
table.first_table td:not(:nth-child(1)){
    width: 110px;
    text-align: center;
}

.class_icon{
    width: 35px;
    margin-right: 10px;
}

.container_pencil{
    padding: 6px 11px;
}

.container_bin{
    padding: 6px 12px;
}

.graph_img{
    width: 100%;}

.nome{
    max-width: 100%;
}


